#hbox-custom {
    -fx-font: 16px "Times New Roman";
	-fx-spacing: 10px;
    -fx-padding: 40;
	-fx-alignment: TOP_LEFT;
	-fx-background-color: Cyan;
	-fx-border-radius: 100 10 0 0;
	-fx-radius: 100;
	-fx-background-radius: 20;
-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0,0,0,1);

	}
#vbox-custom{
-fx-padding: 10px;
-fx-spacing: 10px;
-fx-background-color:Red;

}
	.button {
	-fx-background-color: #063315;
	-fx-background-radius: 10.0;
	-fx-text-fill: #14F074;
	-fx-alignment: TOP_LEFT;
	-fx-border-style: null;

}
.pane {
	
	-fx-radius: 20;
	-fx-alignment: TOP_LEFT;
}
.text {
	-fx-fill: #14F074;
	-fx-font: 16px "Fixedsys";
	
}
.vbox {
	-fx-background-color: red;
}
